@media (min-width: 769px) {
  .burguer {
    display: none;
  }
}

.menuSm{
  color: var(--color-link3);
  background-color: var(--color-menuBurguer);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
}

@media (min-width: 769px) {
  .menuSm {
    display: none
  }
}

/* X QUE SE GENERA EN LA VENTANA */
.menuSm__containerX {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 1.5rem;
}

.x {
  margin-top: 20px;
  grid-column: main-end;
}

.menuSm__contents {
  height: 90vh;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menuSm__contents-title {
  color: var(--color-black);
  text-decoration: none;
  margin-bottom: 45px;
}

/* session */

.session-data {
  margin-top: 100px;
}

.session {
  color: var(--color-link3);
  text-decoration: underline;
}


.session:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

.data-email {
  margin-bottom: 10px;
}


/*  MENU XL */

.menuXl {
  display: none;
}

@media(min-width:769px){
  .menuXl {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
  }  
}

/*  LINK */
.navbarLink {
  color: var(--color-black);
  text-decoration: none;
}

@media(min-width: 769px){
  .navbarLink {
    margin: 0;
    margin-right: 25px;
  }
}