.title, .subtitle, .subtitleBold, .body, .bodyBold, .caption, .link, .link-home, .link-login{
  margin: 0;
}

.subtitleBold, .bodyBold, .title {
  font-weight: 700;
}

.subtitle, .body {
  font-weight: 400;
}
  /* TITULO */

.title {
  font-size: 40px;
  text-align: center;
}

@media(min-width:769px){
  .title {
    font-size: 50px;
  }
}

/* SUBITULO */

.subtitle, .subtitleBold {
  font-size: 24px;
}


.caption, .link {
  text-transform: uppercase;
  font-weight: bold;
}

.link-home, .link-login {
  text-transform: uppercase;
  color: var(--color-link);
  text-decoration: underline;
}

.link-login {
  text-align: center;
}

.link-home {
  width: 122px;
  text-align: right;
}

