.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}


.modal.is-open{
  display: flex;
}

.modal-container {
  padding: 20px;
  position: relative;
  width: 90%;
  min-height: 200px;
  max-height: 720px;
  overflow-y: auto;
  background-color: var(--color-white);
  display: grid;
  border-radius: 6px;
}

@media(min-width: 769px){
  .modal-container {
    max-width: 620px;
  }
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}