@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --color-buttonMain: #FF9DF5;
  --color-button2: #97EA9F;
  --color-button3: #CDCDCD;
  --color-header: #FF6868;
  --color-menuBurguer: #8AF1FF;
  --color-link: #40AFFF;
  --color-link2: #008080;
  --color-link3: #800080;
  --color-link4: #FF3A3A;
  --color-link-hover: #C6558B;
  --color-white: #fdf5e6;
  --color-black: #000000;
  --color-success: #198754;
  --color-error:#dc3545;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(243 243 243 / 91%);
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}